# The app itself

-e .

# Additional runtime dependencies

twilio
phonenumberslite

# Example app

django-debug-toolbar
django-bootstrap-form
django-user-sessions

# Testing

coverage
flake8
tox
tox-pyenv
detox
isort

# Translation

transifex-client

# Documentation

Sphinx
sphinx_rtd_theme

# Build

wheel
bumpversion
twine
django>=2.2.18 # not directly required, pinned by Snyk to avoid a vulnerability
